.testing {
  width: percentage(5/7);
}
.fancy-box {
  color: blue;
};

.courses-col {
	padding: 15px 15px 15px 15px !important;
	border: 1px solid #eeeeee; 
}

.courses-line {
	max-width: 100% !important;
	border-color: #eeeeee !important;
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

.courses-btn {
	border-radius: 0px !important;
	background-color: #f05f40;
	color: white;
}

.about-line {
	margin-top: 30px !important;
	margin-bottom: 30px !important;	
}
